node_modules

/.cache
/build
.env
.vercel
.DS_Store
.sst
.tmp

app/components/favicon/apple-touch-icon.png
app/components/favicon/icon-192.png
app/components/favicon/icon-512.png
app/components/favicon/favicon.ico
public/favicon.ico
